MedicalLocator.WebFront/Service References/DatabaseConnectionReference/DatabaseConnectionService.Model1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseConnectionService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseConnectionService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserData" nillable="true" type="tns:MedicalLocatorUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="MedicalLocatorUserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LastSearch" nillable="true" type="tns:MedicalLocatorUserLastSearch" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalLocatorUserData" nillable="true" type="tns:MedicalLocatorUserData" />
  <xs:complexType name="MedicalLocatorUserLastSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CenterType" type="tns:CenterTypeDatabaseService" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Range" type="xs:int" />
      <xs:element minOccurs="0" name="SearchedObjects" nillable="true" type="tns:ArrayOfMedicalTypeDatabaseService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalLocatorUserLastSearch" nillable="true" type="tns:MedicalLocatorUserLastSearch" />
  <xs:simpleType name="CenterTypeDatabaseService">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MyLocation" />
      <xs:enumeration value="Address" />
      <xs:enumeration value="Coordinates" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CenterTypeDatabaseService" nillable="true" type="tns:CenterTypeDatabaseService" />
  <xs:complexType name="ArrayOfMedicalTypeDatabaseService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicalTypeDatabaseService" type="tns:MedicalTypeDatabaseService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicalTypeDatabaseService" nillable="true" type="tns:ArrayOfMedicalTypeDatabaseService" />
  <xs:simpleType name="MedicalTypeDatabaseService">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Doctor" />
      <xs:enumeration value="Dentist" />
      <xs:enumeration value="Health" />
      <xs:enumeration value="Hospital" />
      <xs:enumeration value="Pharmacy" />
      <xs:enumeration value="Physiotherapist" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MedicalTypeDatabaseService" nillable="true" type="tns:MedicalTypeDatabaseService" />
  <xs:complexType name="RegisterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterResponse" nillable="true" type="tns:RegisterResponse" />
  <xs:complexType name="SaveSettingsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveSettingsResponse" nillable="true" type="tns:SaveSettingsResponse" />
</xs:schema>