MedicalLocator.WebFront/Service References/DatabaseConnectionReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatabaseConnectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DatabaseConnectionService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabaseConnectionService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_SaveSettingsEx_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSettingsEx" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_SaveSettingsEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSettingsExResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_SaveSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSettings" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_SaveSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSettingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabaseConnectionService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseConnectionService/Login" message="tns:IDatabaseConnectionService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseConnectionService/LoginResponse" message="tns:IDatabaseConnectionService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseConnectionService/Register" message="tns:IDatabaseConnectionService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseConnectionService/RegisterResponse" message="tns:IDatabaseConnectionService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSettingsEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseConnectionService/SaveSettingsEx" message="tns:IDatabaseConnectionService_SaveSettingsEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseConnectionService/SaveSettingsExResponse" message="tns:IDatabaseConnectionService_SaveSettingsEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseConnectionService/SaveSettings" message="tns:IDatabaseConnectionService_SaveSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseConnectionService/SaveSettingsResponse" message="tns:IDatabaseConnectionService_SaveSettings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabaseConnectionService" type="tns:IDatabaseConnectionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDatabaseConnectionService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IDatabaseConnectionService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSettingsEx">
      <soap:operation soapAction="http://tempuri.org/IDatabaseConnectionService/SaveSettingsEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSettings">
      <soap:operation soapAction="http://tempuri.org/IDatabaseConnectionService/SaveSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseConnectionService">
    <wsdl:port name="BasicHttpBinding_IDatabaseConnectionService" binding="tns:BasicHttpBinding_IDatabaseConnectionService">
      <soap:address location="http://192.168.1.3:8085/DatabaseConnectionService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>