MedicalLocator.Mobile/Service References/DatabaseConnectionReference/Common.Enums.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CenterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MyLocation" />
      <xs:enumeration value="Address" />
      <xs:enumeration value="Coordinates" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CenterType" nillable="true" type="tns:CenterType" />
  <xs:complexType name="ArrayOfMedicalType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicalType" type="tns:MedicalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicalType" nillable="true" type="tns:ArrayOfMedicalType" />
  <xs:simpleType name="MedicalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Doctor" />
      <xs:enumeration value="Dentist" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MedicalType" nillable="true" type="tns:MedicalType" />
</xs:schema>