MedicalLocator.Mobile/Service References/DatabaseConnectionReference/DatabaseConnectionService.Model1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseConnectionService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseConnectionService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Common.Enums" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserData" nillable="true" type="tns:MedicalLocatorUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="MedicalLocatorUserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastSearch" nillable="true" type="tns:MedicalLocatorUserLastSearch" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalLocatorUserData" nillable="true" type="tns:MedicalLocatorUserData" />
  <xs:complexType name="MedicalLocatorUserLastSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Enums" minOccurs="0" name="CenterType" type="q1:CenterType" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Range" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Enums" minOccurs="0" name="SearchedObjects" nillable="true" type="q2:ArrayOfMedicalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalLocatorUserLastSearch" nillable="true" type="tns:MedicalLocatorUserLastSearch" />
  <xs:complexType name="RegisterStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterStatus" nillable="true" type="tns:RegisterStatus" />
</xs:schema>