MedicalLocator.Mobile/Service References/DatabaseConnectionReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatabaseConnectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabaseConnectionService_TryLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TryLogin" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_TryLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IDatabaseConnectionService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabaseConnectionService">
    <wsdl:operation name="TryLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseConnectionService/TryLogin" message="tns:IDatabaseConnectionService_TryLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseConnectionService/TryLoginResponse" message="tns:IDatabaseConnectionService_TryLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseConnectionService/Logout" message="tns:IDatabaseConnectionService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseConnectionService/LogoutResponse" message="tns:IDatabaseConnectionService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabaseConnectionService" type="tns:IDatabaseConnectionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryLogin">
      <soap:operation soapAction="http://tempuri.org/IDatabaseConnectionService/TryLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IDatabaseConnectionService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseConnectionService">
    <wsdl:port name="BasicHttpBinding_IDatabaseConnectionService" binding="tns:BasicHttpBinding_IDatabaseConnectionService">
      <soap:address location="http://192.168.1.4:8085/DatabaseConnectionService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>