MedicalLocator.WebFront/Service References/GoogleMapsInterfaceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GoogleMapsInterfaceService.GooglePlacesApi" />
  <xs:element name="SendGooglePlacesApiRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GoogleMapsInterfaceService.GooglePlacesApi" minOccurs="0" name="request" nillable="true" type="q1:GooglePlacesApiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGooglePlacesApiRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GoogleMapsInterfaceService.GooglePlacesApi" minOccurs="0" name="SendGooglePlacesApiRequestResult" nillable="true" type="q2:GooglePlacesWcfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>