MedicalLocator.Mobile/Service References/GoogleMapsInterfaceReference/GoogleMapsInterfaceService.Faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GoogleMapsInterfaceService.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GoogleMapsInterfaceService.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidResponseFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResponseText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidResponseFault" nillable="true" type="tns:InvalidResponseFault" />
  <xs:complexType name="FaultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultBase" nillable="true" type="tns:FaultBase" />
  <xs:complexType name="RequestDeniedFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestDeniedFault" nillable="true" type="tns:RequestDeniedFault" />
  <xs:complexType name="ConnectionFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedAddress" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConnectionFault" nillable="true" type="tns:ConnectionFault" />
</xs:schema>